.w-192{
    width: 192px;
}

.w-200{
    width:200px;
}

.w-100{
    width: 100%;
}

.h-36px{
    height:36px;
}

.w-136{
    width:136px;
}

.w-11rem{
    width:11rem;
}

.h-30{
    height: 30px;
}

.w-120{
    width:120px;
}
.w-84{
    width:84%;
}

.h-500{
    height: 500px;
}

.h-100{
    height: 100%;
}

.w-30{
    width: 30%;
}
.h-auto{
    height: auto;
}
.h-15{
    height: 15px;
}
.w-15{
    width: 15px;
}
.w-500{
    width: 500px;
}
.h-20{
    height: 20px;
}
.w-52{
    width: 52%;
}
.w-80{
    width: 80%;
}
.w-40{
    width: 40%;
}


.w-49{
    width:49%;
}

