.mb-1{
    margin-bottom: 16px;
}

.ml-40{
    margin-left:40px;
}

.ml-144{
    margin-left:144px;
}

.pl-8{
    padding-left:8px;
}

.mb-8{
    margin-bottom: 8px;
}
.margin-top-2{
    margin-top: 2rem;
}

.padding-all-2{
    padding: 2rem;
}

.margin-left-1-1{
    margin-left : 1.1rem;
}

.margin-left-1-2{
    margin-left : 1.2rem;
}

.margin-left-0-5{
    margin-left : 0.5rem;
}

.mt-1{
    margin-top:1.2rem;
}

.mt-0{
    margin-top:0;
}

.pt-20{
    padding-top:20px;
}

.pl-60{
    padding-left:60px;
}

.pl-5{
    padding-left:5px;
}

.mb-16{
    margin-bottom: 16px;
}

.pt-25{
    padding-top:25px;
}

.pl-25{
    padding-left:25px;
}

.mt-25{
    margin-top:25px;
}

.ml-140{
    margin-left:140px;
}
.ml-10{
    margin-left:10px;
}

.px-25{
    padding-left: 25px;
    padding-right: 25px;
}

.mt-2{
    margin-top: 2px;
}

.pl-12{
    padding-left: 12px;
}

.ms-22{
    margin-left:22px;
}

.mb-5{
    margin-bottom: 5px;
}

.pb-15{
    padding-bottom: 15px;
}

.mt-15{
    margin-top: 15px;
}

.mb-0{
    margin-bottom: 0;
}

.mt-20{
    margin-top:20px
}

.ms-93{
    margin-left: 93px;
}

.me-4{
    margin-right: 4px;
}

.me-36{
    margin-right: 36px;
}
.m-20{
    margin: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.p-25{
    padding: 25px;
}
.p-10{
    padding:10px;
}
.mt-5{
    margin-top: 5px;
}
.py-1{
    padding-top: 1px;
    padding-bottom: 1px;
}

.px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.ms-12{
    margin-left: 12px;
}
