<div class="modal p-25 box-sizing-border box-sizing-border-box">
    <div class="w-80 d-flex flex-wrap justify-content-space-between box-sizing-border-box" >
        <form *ngIf="contactForm" [formGroup]="contactForm" (ngSubmit)="contact?editContact():addContact()" class="ft-dark-gray d-flex flex-wrap justify-content-space-between" >
            <div class="mb-10 w-100 ft-aspira d-inline-block" >
                <span class="fw-700 fs-12_5">Name</span>
                <app-validation-errors [formcontrol]="getValue('name')" formcontrolName="name" [validators]="validators" ></app-validation-errors>
                <input type='text' formControlName="name" class="w-100 border-gray p-10 mt-5 box-sizing-border-box outline-none"/>
            </div>
            <div class="mb-10 w-100 ft-aspira d-inline-block" >
                <span class="fw-700 fs-12_5">Email</span>
                <app-validation-errors [formcontrol]="getValue('email')" formcontrolName="email" [validators]="validators" ></app-validation-errors>
                <input type='text' formControlName="email" class="w-100 border-gray p-10 mt-5 box-sizing-border-box outline-none" />
            </div>
            <div class="mb-10 w-100 ft-aspira d-inline-block w-49" >
                <span class="fw-700 fs-12_5">Mobile</span>
                <app-validation-errors [formcontrol]="getValue('mobile')" formcontrolName="mobile" [validators]="validators" ></app-validation-errors> 
                <input type='text' formControlName="mobile" class="w-100 border-gray p-10 mt-5 box-sizing-border-box outline-none" />
            </div>
            <div class="mb-10 w-100 ft-aspira d-inline-block w-49" >
                <span class="fw-700 fs-12_5">Landline</span>
                <app-validation-errors [formcontrol]="getValue('landline')" formcontrolName="landline" [validators]="validators" ></app-validation-errors> 
                <input type='text' formControlName="landline" class="w-100 border-gray p-10 mt-5 box-sizing-border-box outline-none" />
            </div>
            <div class="mb-10 w-100 ft-aspira d-inline-block" >
                <span class="fw-700 fs-12_5">Website</span>
                <app-validation-errors [formcontrol]="getValue('address')" formcontrolName="website" [validators]="validators" ></app-validation-errors> 
                <input type='text' formControlName="website" class="w-100 border-gray p-10 mt-5 box-sizing-border-box outline-none" />
            </div>
            <div class="mb-10 w-100 ft-aspira d-inline-block" >
                <span class="fw-700 fs-12_5">Address</span>
                <textarea formControlName="address" class="w-100 border-gray p-10 mt-5 box-sizing-border-box outline-none" rows="8"></textarea>
            </div>
            <div class="d-flex justify-content-flex-end w-100" >
                <input type="submit" [value]="contact?'Save':'Add'" class="button bg-green add" [disabled]="!contactForm.valid"/>
                <input type="button" value="Close" class="button bg-red ms-12 close" (click)="close.emit(true)"/>
            </div> 
        </form>
    </div>
</div>
